@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'iran_Bold';
      src: url("../public/fonts/IRANSansXFaNum-Bold.ttf") format('truetype');
    }
    @font-face {
        font-family: 'iran_Light';
        src: url("../public/fonts/IRANSansXFaNum-Light.ttf") format('truetype');
      }  
}